{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "alias": [ ["src", "./src"] ]
    }
  },
  "parser": "babel-eslint",
  "globals": {
    "window": true,
  },
  "env": {
    "jest": true,
    "browser": true,
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-to-interactive-role": "off",
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "warn",
    "no-confusing-arrow": "off",
    "arrow-parens": "off",
    "max-len": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/no-webpack-loader-syntax": "off",
    "no-shadow": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-useless-escape": "off",
    "linebreak-style": "off",
  },
}
